html {
    background: #fffdf5;
}
h1 {
  font-family: "Courier New";
  font-size: 125px;
  border: 8px solid #e8bd10;
  padding: 30px;
  display: inline-block;
  margin: 75px;
  background: #fffdf5
}
p {
  text-align: center;
  font-family: "Courier New";
  font-size: 42px;
  font-style: italic;
  background: #fffdf5
}
select{
    width: 300px;
}
